.contentWrapper {
  background: transparent;
  white-space: pre-wrap;
}

.contentWrapper>h1 {
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1;
  letter-spacing: -0.02em;
  margin: 20px 0px;
}

.contentWrapper>h2 {
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 2.6rem;
  letter-spacing: -0.02em;
  margin: 20px 0px;
}

.contentWrapper>h3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.02em;
  margin: 20px 0px;
}

.contentWrapper>h4 {
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 2.2rem;
  letter-spacing: -0.02em;
  margin: 20px 0px;
}

.contentWrapper>h5 {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 2rem;
  letter-spacing: -0.02em;
  margin: 20px 0px;
}

.contentWrapper>h6 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -0.02em;
  margin: 20px 0px;
}

.contentWrapper>p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.02em;
}

.contentWrapper a {
  color: rgb(178, 178, 253);
}

.contentWrapper a:hover {
  text-decoration: underline;
}

.contentWrapper>ul {
  padding-left: 24px;
}

.contentWrapper>ul>li {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.02em;
  list-style: disc;
}

.contentWrapper>ol {
  padding-left: 24px;
  list-style: auto;
}

.contentWrapper>ol>li {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.02em;
}