@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

html {
  @apply bg-gray100;
}

body {
  overflow-x: clip;
}

body > div {
  overflow-x: clip;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
