@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-display: fallback;
  src: url('../public/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
  font-family: 'OpenSans';
  font-display: fallback;
  src: url('../public/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  @apply bg-white;
  scroll-behavior: smooth;
}

body {
  color: '#FFF9ED' !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.boldToGrad > p > strong {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-lightOrange to-darkOrange;
}

@layer components {
  .styledDocument a {
    @apply font-semibold text-darkBlue;
  }
  .styledDocument h1 {
    @apply text-3xl font-semibold py-5 leading-10;
  }
  .styledDocument h2 {
    @apply text-2xl font-semibold py-4 leading-8;
  }
  .styledDocument h3 {
    @apply text-lg font-semibold py-3 leading-7;
  }
  .styledDocument h4 {
    @apply text-base font-semibold py-3 leading-7;
  }
  .styledDocument h5 {
    @apply text-sm font-semibold py-2 leading-6;
  }
  .styledDocument h6 {
    @apply text-xs font-semibold py-1 leading-5;
  }
}
